section {
    cursor: pointer;
}

section.highlight {
    background-color: orange;
}

section:active {
    background-color: green;
}

body {
    margin-left: 60px;
}

div.relative {
    position: relative;
}

section:hover::before,
section:hover::after {
    content: '\1F983';
    position: absolute;
    left: 0;
}
